<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2012-2016 Arne Schwabe
  ~ Distributed under the GNU GPL v2 with additional terms. For full terms see the file doc/LICENSE.txt
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          xmlns:uses-featureandroid="http://schemas.android.com/apk/res-auto"
          package="cn.com.aixiaoqi">

    <!-- Required -->
    <permission
        android:name="${JPUSH_PKGNAME}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="${JPUSH_PKGNAME}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="PermissionImpliesUnsupportedHardware,ProtectedPermissions"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <!-- <uses-permission android:name="com.android.vending.BILLING" />   android:theme="@style/blinkt" -->
    <!-- " -->
    <application
        android:name="de.blinkt.openvpn.core.ICSOpenVPNApplication"
        android:allowBackup="true"
        android:banner="@drawable/login_icon"
        android:icon="@drawable/login_icon"
        android:label="@string/app"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:icon">
        <meta-data
            android:name="com.tencent.rdm.uuid"
            android:value="6a4c151b-706a-41c0-b96e-40738e64c1ad"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58393022bbea837e4b0005e9"/>
        <!-- 渠道 -->

        <meta-data
            android:name="yingyongbao"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="xiaomi"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="baidu"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="huawei"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="qihu360"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="google"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="oppo"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="vivo"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="wandoujia"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity
            android:name="de.blinkt.openvpn.activities.SMSAcivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.blinkt.openvpn.activities.EditNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.blinkt.openvpn.activities.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.blinkt.openvpn.activities.CallPhoneNewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:permission="android.permission.RECORD_AUDIO"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="de.blinkt.openvpn.activities.ProMainActivity"
            android:label="@string/app"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.ContactActivity"
            android:label="@string/app"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="de.blinkt.openvpn.activities.ContactDetailActivity"
            android:label="@string/app"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="de.blinkt.openvpn.activities.LoginMainActivity"
            android:label="@string/app"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="wxff7e7ee82cd9afc4"/> <!-- 需修改 -->
            </intent-filter>
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.RegistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.blinkt.openvpn.activities.permission.HuaWeiPermissionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.blinkt.openvpn.activities.permission.MeiZuPermissionActivity"
            android:screenOrientation="portrait"/>
        <!--
        <receiver android:name="core.GetRestrictionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.GET_RESTRICTION_ENTRIES" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="de.blinkt.openvpn.activities.ReceiveCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.GetBackPswActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.MyDeviceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.MyPackageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.TipUserOptionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.AlarmClockActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.BindDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.MyOrderDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.PersonalCenterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.UserFeedbackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.FastSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.PackageDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.PackageMarketActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.ContactUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.CountryPackageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.CommitOrderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.RechargeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.NotificationActivity"/>

        <receiver android:name=".AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.aixiaoqi.socket.AutoReceiver">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="cn.com.aixiaoqi"/>
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service android:name="de.blinkt.openvpn.service.GrayService">
        </service>
        <service android:name="de.blinkt.openvpn.service.GrayService$GrayInnerService">
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.service.DfuService"
            android:exported="true">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <!--
        <service
            android:name="com.aixiaoqi.socket.StartCPUService"
            android:exported="true">
        </service>
        -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:screenOrientation="portrait">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>

                <category android:name="cn.com.aixiaoqi"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>
        <receiver
            android:name="de.blinkt.openvpn.push.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${JPUSH_PKGNAME}"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="de.blinkt.openvpn.push.PhoneReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.phone.android.intent.CALL_PHONE"/> <!-- 打电话 -->
                <action android:name="cn.phone.android.intent.RECIVE_PHONE"/> <!-- 接电话 -->
            </intent-filter>
        </receiver>

        <activity
            android:name="de.blinkt.openvpn.activities.BalanceParticularsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.PaySuccessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.ActivateActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="de.blinkt.openvpn.bluetooth.service.UartService"
            android:enabled="true"/>
        <service
            android:name="de.blinkt.openvpn.service.CallPhoneService"
            android:enabled="true">
        </service>
        <service
            android:name="de.blinkt.openvpn.service.UpdateStepService"
            android:enabled="true"/>
        <service
            android:name="com.aixiaoqi.socket.ReceiveDataframSocketService"
            android:enabled="true"/>
        <service
            android:name="com.aixiaoqi.socket.ReceiveSocketService"
            android:enabled="true"
            android:persistent="true"/>

        <activity
            android:name="de.blinkt.openvpn.activities.OutsideActivity"
            android:label="@string/title_activity_outside"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.BeforeGoingAbroadActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.OrderedOutsidePurchaseActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="de.blinkt.openvpn.service.NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <receiver
            android:name="de.blinkt.openvpn.service.NotificationMonitor$PhoneBroadcastReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
                <action android:name="android.intent.action.SMS_STATUS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="de.blinkt.openvpn.push.NetReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="de.blinkt.openvpn.activities.ProMainActivity$screenoffReceive">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="de.blinkt.openvpn.activities.SetAlarmActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.RepeatActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.LableActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.BindRechargeCardActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.InlandSaveActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.EBuzOrderListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.EBuizOrderDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.AddNumberActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.SelectNumberInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.SelectNumberActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.ChinaAddressActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.PaymentSelectNumberFeeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.ActivateLinkCardActivity">
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.CallPackageLlistActivity">
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.CallTimeOrderDetailActitivy">
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.KingCardDetailActivity">
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.CallTimePacketDetailActivity">
        </activity>
        <activity android:name="de.blinkt.openvpn.activities.CommitCallTimeOrderActivity">
        </activity>
        <activity
            android:name="de.blinkt.openvpn.activities.KeepAliveActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:theme="@style/LiveActivityStyle"
            >
        </activity>
    </application>

</manifest>